html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: ;width: 1440px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    padding-right: 0px;
    
}

.list1 {
    margin-right: 30px;
}

.text1 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-top: 20px;
    font-style: inter;
    font-weight: 20;
    text-decoration: none;
    font-size: 20px;

}

.text1:hover, text1:focus, .text1:active{
    opacity: .70;
}

.icon {
    width: 28px;
    height: 28px;
    padding-right: 60px;
    padding-top: 30px;

}

.header {
    background-color: black;
    width: 1440px;
    height: 90px;

}

.text {
    display: flex;
    flex-wrap: wrap;
    width: 294px;
    height: 50px;
    color: white;
    margin-left: 20px;
    padding-top: 10px;
    font-style: forum;
    font-size: 20px;
}

.welcome {
    width: 1440px;
    height: 600px;
    background: url("./assets/welcome.jpg");
    background-size: cover;

}

#box {
    position: absolute;
    width: 600px;
    height: 220px;
    background-color: black;
    top: 320px;

}

.subject {
    color: white;
    font-style: forum;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    width: 520px;
    height: 150px;
}

/*about*/

.container_about {
    background-color: white;
    width: 1440px;
    height: 797px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#box1 {
    width: 106px;
    height: 61px;
    position: absolute;
    background-color: white;
    left: 650px;
    margin-top: 30px;
}

.title {
    text-align: center;
    font-style: fotum;
    width: 106px;
    height: 40px;
    font-size: 20px;
    
}

.line {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-left: 33px;
    margin-top: 20px;
}

.text2 {
    width: 1440px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    font-style: inter;
    font-size: 20px;
    margin-top: 130px;
    margin-left: 300px;

}

.images {
    display: flex;
    width: 1400px;
    height: 560px;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
}

.circle-box {
    display: flex;
    width: 68px;
    height: 16px;
    margin-left: 670px;
    justify-content: space-between;
    margin-top: 20px;

}

.circle1 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #bb945f;
}

.circle2 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0c0c0e;
}

.circle3 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0c0c0e;
}

/* favorites */

.container_favorites {
    width: 1440px;
    height: 1439px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

#box2 {
    width: 160px;
    height: 61px;
    position: absolute;
    background-color: white;
    left: 620px;
    margin-top: 30px;
}

.title1 {
    text-align: center;
    font-style: fotum;
    width: 160px;
    height: 40px;
    font-size: 20px;
    
}

.line1 {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-left: 50px;
    margin-top: 20px;
}

.text3 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 150px;
    margin-left: 30px;

}

.seasons-wrapper {
    width: 700px;
    height: 24px;
    background-color: white;
    margin-top: 230px;
    position: absolute;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#winter-box {
    width: 104px;
    height: 24px;
    background-color: white;
}


label {
    cursor: pointer;
}

.real-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}
   
.custom-radio {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    vertical-align: text-top;
    margin-left: 5px;
    margin-right: 7px;
}

.custom-radio::before {
    content: '';

    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    transition: 0.2s ease-in;
    display: none;
}

.real-radio:checked + .custom-radio::before {
    display: block;
}

#spring-box {
    width: 99px;
    height: 24px;
    background-color: white;
}

#summer-box {
    width: 116px;
    height: 24px;
    background-color: white;
}

#autumn-box {
    width: 111px;
    height: 24px;
    background-color: white;
}

.items-container {
    width: 1400px;
    height: 1150px;
    background-color: white;
    margin-left: 20px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.wrapper-first-book {
    width: 590px;
    height: 555px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.box-first-book {
    width: 550px;
    height: 555px;
    background-color: white;
    border: 1px solid #000;
}

.title-first-book {
    width: 102px;
    height: 40px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    font-style: forum;
    font-size: 18px;
    
}

.line3 {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-left: 20px;
}

.subject-first-book {
    width: 168px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-first-book {
    width: 350px;
    height: 320px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.buy-button {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;

}

#img-first-book {
    width: 200px;
    height: 300px;
    background: url("./assets/firstbook.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.subject-second-book {
    width: 173px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-second-book {
    width: 350px;
    height: 320px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#img-second-book {
    width: 200px;
    height: 300px;
    background: url("./assets/secondbook.jpg");
    position: absolute;
    top: 257px;
    left: 390px;

}

.subject-third-book {
    width: 355px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-third-book {
    width: 355px;
    height: 320px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#img-third-book {
    width: 200px;
    height: 300px;
    background: url("./assets/thirdbook.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.subject-fourth-book {
    width: 156px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-fourth-book {
    width: 355px;
    height: 240px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#img-fourth-book {
    width: 200px;
    height: 300px;
    background: url("./assets/fourthbook.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.own-button {
    width: 75px;
    height: 30px;
    border: 2px solid #bb945f;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    color: #bb945f;
    margin-top: 80px;
}

/* coffe shop */

.container_coffeeshop {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 815px;
    background-color: white;
    position: relative;
}

#box4 {
    width: 220px;
    height: 61px;
    background-color: white;
    left: 600px;
    margin-top: 30px;
    position: absolute;
    text-align: justify;
}

.title3 {
    text-align: center;
    font-style: fotum;
    color: #0C0C0E;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    width: 220px;
    height: 40px;
    margin-top: 5px;
}

.line4 {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-left: 87px;
    margin-top: 10px;
}

.text4 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 130px;
    width: 1400px;
    height: 120px;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-right: 20px;

}

.wrapper-menu {
    width: 1400px;
    height: 520px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: space-between;

}

.coffee-and-tea {
    width: 438px;
    height: 520px;
    background-color: white;

}

.title5 {
    font-family: forum;
    font-size: 30px;
    color: #bb945f;
    letter-spacing: 2px;

}

.list-menu {
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.list2 {
    list-style-type: none;
    width: 438px;
    height: 40px;
    background-color: white;
    margin-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.text5 {
    width: 197px;
    height: 40px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;

}

.line5 {
    width: 100px;
    height: 1px;
    background-color: #bb945f;
    margin-top: 20px;

}

.price {
    width: 21px;
    height: 40px;
    font-family: forum;
    font-size: 20px;
    margin-top: 10px;

}


.deserts {
    width: 482px;
    height: 520px;
    background-color: white;
}

.list-menu2 {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.list3 {
    list-style-type: none;
    width: 438px;
    height: 40px;
    background-color: white;
    margin-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.text6 {
    width: 197px;
    height: 40px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;

}

.line5 {
    width: 100px;
    height: 1px;
    background-color: #bb945f;
    margin-top: 20px;

}

.price {
    width: 21px;
    height: 40px;
    font-family: forum;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 7px;

}

/* contacts*/

.container_contacts {
    width: 1440px;
    height: 545px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#box5 {
    width: 240px;
    height: 61px;
    background-color: white;
    left: 600px;
    margin-top: 0px;
    position: absolute;
    text-align: center;
}

.title6 {
    text-align: center;
    font-family: forum;
    color: #0C0C0E;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    width: 220px;
    height: 40px;
    margin-left: 5px;
}

.line4 {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-left: 87px;
    margin-top: 10px;
}

.wrapper_contacts {
    width: 1400px;
    height: 414px;
    margin-left: 20px;
    margin-top: 110px;
    display: flex;
}

.text-info {
    width: 503px;
    height: 380px;

}

.title-info {
    width: 282px;
    height: 40px;
    font-family: inter;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}

.phone-info {
    width: 503px;
    height: 160px;
}

.text-phone {
    width: 306px;
    height: 40px;
    font-family: inter;
    font-size: 20px;
    letter-spacing: 2px;
    color: #000;
}

.text-phone1 {
    width: 503px;
    height: 40px;
    font-family: inter;
    font-size: 20px;
    letter-spacing: 2px;
    color: #000;
}

.text-phone2 {
    width: 393px;
    height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: inter;
}

.senior-staff {
    width: 351px;
    height: 100px;
}

.name-staff {
    width: 138px;
    height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: inter;
}

.name-staff1 {
    width: 351px;
    height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: inter;
}

.map {
    width: 696px;
    height: 414px;
    background: url(./assets/map.jpg);
    margin-left: 200px;
}

/* librarycard */

.container-librarycard {
    width: 1440px;
    height: 614px;
    display: flex;
    flex-wrap: wrap;
}

#box6 {
    width: 372px;
    height: 61px;
    background-color: white;
    left: 600px;
    margin-top: 20px;
    text-align: center;
    margin-left: 550px;
}

.title7 {
    text-align: center;
    font-family: forum;
    color: #0C0C0E;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    width: 372px;
    height: 40px;
}

.line5 {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-left: 157px;
    margin-top: 20px;
}

.wrapper-librarycard {
    width: 1400px;
    height: 453px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.find-card {
    width: 600px;
    height: 453px;
}

.title-card1 {
    width: 324px;
    height: 36px;
    font-family: inter;
    font-size: 27px;
    letter-spacing: 2px;
    margin-left: 150px;
    padding-bottom: 20px;
    font-weight: 700;
    margin-top: 0px;
    padding-top: 0px;

}

.box-card {
    width: 600px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid #bb945f;
    margin-left: 20px;
}

.gold-card {
    width: 560px;
    height: 272px;
    background-color: #bb945f;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
}

.text-card2 {
    width: 294px;
    height: 50px;
    font-family: forun;
    font-size: 20px;
    text-align: center;
    
}

.input1 {
    width: 500px;
    height: 66px;
    border-radius: 10px;
    background-color: white;
    margin-left: 13px;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    padding-left: 10px;
    margin-left: 20px;
}


.input2 {
    width: 500px;
    height: 66px;
    border-radius: 10px;
    background-color: white;
    margin-left: 20px;
    margin-top: 25px;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    padding-left: 10px;

}

.button-card3 {
    width: 242px;
    height: 44px;
    margin-left: 163px;
    cursor: pointer;
    text-align: center;
    color: #0C0C0E;
    font-family: Inter;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: white;
}



.get-a-card {
    width: 456px;
    height: 253px;
}

.title-card {
    width: 220px;
    height: 30px;
    font-family: forum;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 5px;
    text-align: right;
    margin-left: 235px;
}

.text-card {
    width: 456px;
    height: 120px;
    font-family: inter;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: right;
}

.button-card {
    width: 75px;
    height: 30px;
    margin-left: 280px;
    cursor: pointer;
    text-align: center;
    background-color: white;
}

.button-card1 {
    width: 75px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
    text-align: center;
    background-color: white;
}

