html, body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    font-family: 'Forum', cursive;
    font-family: 'Inter', sans-serif;

}

.header {
    background-color: black;
    width: 1440px;
    height: 90px;

}

.wrapper {
    max-width: 1440px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

nav {
    display: flex;
    justify-content: space-between;
    float: left;

}

.list {
    display: flex;
    flex-wrap: wrap;
    float: left;
    
    
}

.list1 {
    margin-left: 40px;
}

.text1 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-top: 20px;
    font-family: inter;
    font-weight: 20;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;


}

.text1:hover, text1:focus, .text1:active{
    opacity: .70;
}

.menu-profile {
    margin-top: 39px;

}


.icon {
    width: 28px;
    height: 28px;
    padding-right: 0%;
    padding-top: 30px;
    margin-right: 40px;
    cursor: pointer;
}

.icon.none {
    display: none;

}

.box-profile {
    width: 80px;
    height: 115px;
    text-align: center;
    margin-top: -23px;
    background-color: white;
    display: none;
}

.box-profile.active {
    display: block;
}


.profile {
    font-family: inter;
    font-size: 15px;
    font-weight: 700px;
    font-style: normal;
}

.profile-line {
    width: 40px;
    height: 1px;
    background: #bb945f;
    margin-left: 20px;
    margin-top: -10px;
}

.profile-text {
    width: 59px;
    height: 50px;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.login {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;

}

.register {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-top: 15px;
    cursor: pointer;
}





.text {
    display: flex;
    flex-wrap: wrap;
    width: 294px;
    height: 50px;
    color: white;
    margin-left: 20px;
    padding-top: 10px;
    font-style: normal;
    font-size: 20px;
    font-family: forum;
}

.welcome {
    width: 1440px;
    height: 600px;
    background: url("./assets/welcome.jpg");
    background-size: cover;

}

#box {
    position: absolute;
    width: 600px;
    height: 220px;
    background-color: black;
    top: 320px;

}

.subject {
    color: white;
    font-style: forum;
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    width: 520px;
    height: 150px;
    
}

/*about*/

.container_about {
    background-color: white;
    width: 1440px;
    height: 797px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

#box1 {
    width: 106px;
    height: 61px;
    position: absolute;
    background-color: white;
    left: 650px;
    margin-top: 30px;
}

.title {
    text-align: center;
    font-style: normal;
    width: 106px;
    height: 40px;
    font-size: 20px;
    font-family: forum;
    
}

.line {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-left: 33px;
    margin-top: 20px;
}

.text2 {
    width: 1440px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    font-style: inter;
    font-size: 20px;
    margin-top: 130px;
    margin-left: 300px;
    font-style: normal;


}

.slider {
    width: 1440px;
    height: 560px;
    position: relative;
    margin-left: 15px;

}

.slider-images {
   width: 450px;
   height: 560px;


}

.slider-line {
    display: flex;
    transition: all 1s;
    position: relative;
    justify-content: space-between;

}

.slider-img {
    width: 450px;
    height: 560px;
    margin-right: 25px;

}

.slider-buttons {
    width: 68px;
    height: 16px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    justify-content: space-between;
}

.slider-button1 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;

}

.slider-button1:hover {
    background-color: #bb945f;
    cursor: pointer;
}

.slider-button1.active {
    background-color: #bb945f;
}

/* favorites */

.container_favorites {
    width: 1440px;
    height: 1439px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

#box2 {
    width: 160px;
    height: 61px;
    position: absolute;
    background-color: white;
    left: 620px;
    margin-top: 30px;
}

.title1 {
    text-align: center;
    font-style: fotum;
    width: 160px;
    height: 40px;
    font-size: 20px;
    font-style: normal;

    
}

.line1 {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-left: 50px;
    margin-top: 20px;
}

.text3 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 150px;
    margin-left: 30px;

}

.seasons-wrapper-tab {
    width: 700px;
    height: 24px;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    margin-top: 230px;
    margin-left: 20px;

}

#winter-box {
    width: 104px;
    height: 24px;
    background-color: white;
}


label {
    cursor: pointer;
}

.real-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}
   
.custom-radio {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    vertical-align: text-top;
    margin-left: 5px;
    margin-right: 7px;
}

.custom-radio::before {
    content: '';

    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    transition: 0.2s ease-in;
    display: none;
}

.real-radio:checked + .custom-radio::before {
    display: block;
}

#spring-box {
    width: 99px;
    height: 24px;
    background-color: white;
}

#summer-box {
    width: 116px;
    height: 24px;
    background-color: white;
}

#autumn-box {
    width: 111px;
    height: 24px;
    background-color: white;
}

.items-tab {
    width: 1400px;
    height: 1150px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    display: none;

}


.items-tab.active {
    display: flex;
    animation-name: tab; 
    animation-duration: 4s; 

}

@keyframes tab {
    from {
        opacity: 0.5;
    }

    to {opacity: 1;

    }
}


.wrapper-first-book {
    width: 590px;
    height: 555px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.box-first-book {
    width: 550px;
    height: 555px;
    background-color: white;
    border: 1px solid #000;
}

.title-first-book {
    width: 102px;
    height: 40px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    white-space: nowrap;
    font-family: forum;

    
}

.line3 {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-left: 20px;
}

.subject-first-book {
    width: 168px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-first-book {
    width: 350px;
    height: 320px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.buy-button {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;

}

#img-first-book {
    width: 200px;
    height: 300px;
    background: url("./assets/firstbook.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.subject-second-book {
    width: 173px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-second-book {
    width: 350px;
    height: 320px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#img-second-book {
    width: 200px;
    height: 300px;
    background: url("./assets/secondbook.jpg");
    position: absolute;
    top: 257px;
    left: 390px;

}

.subject-third-book {
    width: 355px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-third-book {
    width: 355px;
    height: 320px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#img-third-book {
    width: 200px;
    height: 300px;
    background: url("./assets/thirdbook.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.subject-fourth-book {
    width: 156px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-fourth-book {
    width: 355px;
    height: 240px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#img-fourth-book {
    width: 200px;
    height: 300px;
    background: url("./assets/fourthbook.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.buy-button-winter {
    width: 75px;
    height: 30px;
    border: 2px solid black;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 80px;
    background-color: white;
}

/* containers */

.subject-spring-book1 {
    width: 150px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-spring-book1 {
    width: 355px;
    height: 160px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#img-spring-book1 {
    width: 200px;
    height: 300px;
    background: url("./assets/springbook1.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.buy-button-spring1 {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 160px;

}

.subject-spring-book2 {
    width: 457px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-spring-book2 {
    width: 355px;
    height: 200px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.buy-button-spring2 {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 120px;

}

#img-spring-book2 {
    width: 200px;
    height: 300px;
    background: url("./assets/springbook2.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.subject-spring-book3 {
    width: 209px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-spring-book3 {
    width: 355px;
    height: 200px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.buy-button-spring3 {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 120px;

}

#img-spring-book3 {
    width: 200px;
    height: 300px;
    background: url("./assets/springbook3.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.subject-spring-book4 {
    width: 129px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-spring-book4 {
    width: 355px;
    height: 280px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.buy-button-spring {
    width: 75px;
    height: 30px;
    border: 2px solid black;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
    background-color: white;
}

#img-spring-book4 {
    width: 200px;
    height: 300px;
    background: url("./assets/springbook4.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.subject-summer-book1 {
    width: 380px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;
    white-space: nowrap;

}

.text-summer-book1 {
    width: 355px;
    height: 240px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.buy-button-summer1 {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 90px;

}

#img-summer-book1 {
    width: 200px;
    height: 300px;
    background: url("./assets/summerbook1.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.subject-summer-book2 {
    width: 260px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-summer-book2 {
    width: 355px;
    height: 320px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.buy-button-summer2 {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;

}

#img-summer-book2 {
    width: 200px;
    height: 300px;
    background: url("./assets/summerbook2.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.subject-summer-book3 {
    width: 291px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-summer-book3 {
    width: 355px;
    height: 200px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.buy-button-summer3 {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 130px;

}

#img-summer-book3 {
    width: 200px;
    height: 300px;
    background: url("./assets/summerbook3.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

.subject-summer-book4 {
    width: 254px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;
    white-space: nowrap;

}

.text-summer-book4 {
    width: 355px;
    height: 320px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.buy-button-summer4 {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;

}

#img-summer-book4 {
    width: 200px;
    height: 300px;
    background: url("./assets/summerbook4.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}


.subject-autumn-book1 {
    width: 223px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-autumn-book1 {
    width: 355px;
    height: 280px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;

}

.buy-button-autumn1 {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;

}

#img-autumn-book1 {
    width: 200px;
    height: 300px;
    background: url("./assets/autumnbook1.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}


.subject-autumn-book2 {
    width: 146px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;
    white-space: nowrap;

}

.text-autumn-book2 {
    width: 355px;
    height: 280px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;

}

.buy-button-autumn2 {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;

}

#img-autumn-book2 {
    width: 200px;
    height: 300px;
    background: url("./assets/autumnbook2.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}


.subject-autumn-book3 {
    width: 280px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;
    white-space: nowrap;

}

.text-autumn-book3 {
    width: 355px;
    height: 280px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;

}

.buy-button-autumn3 {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;

}

#img-autumn-book3 {
    width: 200px;
    height: 300px;
    background: url("./assets/autumnbook3.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}


.subject-autumn-book4 {
    width: 249px;
    height: 80px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    line-height: 40px;

}

.text-autumn-book4 {
    width: 355px;
    height: 240px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;

}

.buy-button-autumn4 {
    width: 75px;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 80px;

}

#img-autumn-book4 {
    width: 200px;
    height: 300px;
    background: url("./assets/autumnbook4.jpg");
    position: absolute;
    left: 390px;
    top: 257px;

}

/* coffe shop */

.container_coffeeshop {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 815px;
    background-color: white;
    position: relative;
}

#box4 {
    width: 220px;
    height: 61px;
    background-color: white;
    left: 600px;
    margin-top: 30px;
    position: absolute;
    text-align: justify;
}

.title3 {
    text-align: center;
    font-style: fotum;
    color: #0C0C0E;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    width: 220px;
    height: 40px;
    margin-top: 5px;
    white-space: nowrap;
}

.line4 {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-left: 87px;
    margin-top: 10px;
}

.text4 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 130px;
    width: 1400px;
    height: 120px;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-right: 20px;

}

.wrapper-menu {
    width: 1400px;
    height: 520px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: space-between;

}

.coffee-and-tea {
    width: 438px;
    height: 520px;
    background-color: white;

}

.title5 {
    font-family: forum;
    font-size: 30px;
    color: #bb945f;
    letter-spacing: 2px;
    font-style: normal;


}

.list-menu {
    padding-left: 0;
    display: flex;
    flex-direction: column;

}

.list2 {
    list-style-type: none;
    width: 438px;
    height: 40px;
    background-color: white;
    margin-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.text5 {
    width: 197px;
    height: 40px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;
    white-space: nowrap;
    font-style: normal;


}

.line5 {
    width: 100px;
    height: 1px;
    background-color: #bb945f;
    margin-top: 20px;

}

.price {
    width: 21px;
    height: 40px;
    font-family: forum;
    font-size: 20px;
    margin-top: 10px;
    font-style: normal;


}


.deserts {
    width: 482px;
    height: 520px;
    background-color: white;
}

.list-menu2 {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.list3 {
    list-style-type: none;
    width: 438px;
    height: 40px;
    background-color: white;
    margin-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.text6 {
    width: 197px;
    height: 40px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;
    white-space: nowrap;
    font-style: normal;


}

.line5 {
    width: 100px;
    height: 1px;
    background-color: #bb945f;
    margin-top: 20px;

}

.price {
    width: 21px;
    height: 40px;
    font-family: forum;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 7px;
    font-style: normal;


}

/* contacts*/

.container_contacts {
    width: 1440px;
    height: 545px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#box5 {
    width: 240px;
    height: 61px;
    background-color: white;
    left: 600px;
    margin-top: 0px;
    position: absolute;
    text-align: center;
}

.title6 {
    text-align: center;
    font-family: forum;
    color: #0C0C0E;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    width: 220px;
    height: 40px;
    margin-left: 5px;
}

.line4 {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-left: 87px;
    margin-top: 10px;
}

.wrapper_contacts {
    width: 1400px;
    height: 414px;
    margin-left: 20px;
    margin-top: 110px;
    display: flex;
}

.text-info {
    width: 503px;
    height: 380px;

}

.title-info {
    width: 282px;
    height: 40px;
    font-family: inter;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    white-space: nowrap;
    font-style: normal;

}

.phone-info {
    width: 503px;
    height: 160px;
}

.text-phone {
    width: 306px;
    height: 40px;
    font-family: inter;
    font-size: 20px;
    letter-spacing: 2px;
    color: #000;
    font-style: normal;

}

.text-phone1 {
    width: 503px;
    height: 40px;
    font-family: inter;
    font-size: 20px;
    letter-spacing: 2px;
    color: #000;
    font-style: normal;

}

.text-phone2 {
    width: 393px;
    height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: inter;
    white-space: nowrap;
    font-style: normal;

}

.senior-staff {
    width: 351px;
    height: 100px;
}

.name-staff {
    width: 138px;
    height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: inter;
    font-weight: 700;
    white-space: nowrap;
    font-style: normal;

}

.name-staff1 {
    width: 351px;
    height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: inter;
    white-space: nowrap;
    font-style: normal;


}

.link {
    color: #000;
    text-decoration: none;
}

.map {
    width: 696px;
    height: 414px;
    background: url(./assets/map.jpg);
    margin-left: 200px;
}

/* librarycard */

.container-librarycard {
    width: 1440px;
    height: 614px;
    display: flex;
    flex-wrap: wrap;
}

#box6 {
    width: 372px;
    height: 61px;
    background-color: white;
    left: 600px;
    margin-top: 20px;
    text-align: center;
    margin-left: 550px;
}

.title7 {
    text-align: center;
    font-family: forum;
    color: #0C0C0E;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    width: 372px;
    height: 40px;
}

.line6 {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-left: 157px;
    margin-top: 20px;
}

.wrapper-librarycard {
    width: 1400px;
    height: 453px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.find-card {
    width: 600px;
    height: 453px;
}

.title-card1 {
    width: 324px;
    height: 36px;
    font-family: inter;
    font-size: 27px;
    letter-spacing: 2px;
    margin-left: 150px;
    padding-bottom: 20px;
    font-weight: 700;
    margin-top: 0px;
    padding-top: 0px;
    white-space: nowrap;
    font-style: normal;


}

.box-card {
    width: 600px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid #bb945f;
    margin-left: 20px;
}

.gold-card {
    width: 560px;
    height: 272px;
    background-color: #bb945f;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
}

.text-card2 {
    width: 294px;
    height: 50px;
    font-family: forum;
    font-size: 20px;
    text-align: center;
    font-style: normal;

    
}

.input1 {
    width: 500px;
    height: 66px;
    border-radius: 10px;
    background-color: white;
    margin-left: 13px;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    padding-left: 10px;
    margin-left: 20px;
    font-style: normal;

}


.input2 {
    width: 500px;
    height: 66px;
    border-radius: 10px;
    background-color: white;
    margin-left: 20px;
    margin-top: 25px;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    padding-left: 10px;
    font-style: normal;


}

.button-card3 {
    width: 242px;
    height: 44px;
    margin-left: 163px;
    cursor: pointer;
    text-align: center;
    color: #0C0C0E;
    font-family: Inter;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: white;
    font-style: normal;

}



.get-a-card {
    width: 456px;
    height: 253px;
}

.title-card {
    width: 220px;
    height: 30px;
    font-family: forum;
    font-size: 25px;
    margin-top: 5px;
    text-align: right;
    margin-left: 235px;
    line-height: 40px;
    font-style: normal;

}

.text-card {
    width: 456px;
    height: 120px;
    font-family: inter;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: right;
    font-style: normal;

}

.button-card {
    width: 75px;
    height: 30px;
    margin-left: 280px;
    cursor: pointer;
    text-align: center;
    background-color: white;
}

.button-card1 {
    width: 75px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
    text-align: center;
    background-color: white;
}

/* footer*/

.container-footer {
    width: 1440px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    background-color: #000;

}

.wrapper-frame {
    width: 1400px;
    height: 90px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

.box-frame1 {
    width: 1400px;
    height: 40px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.adress-frame1 {
    width: 229px;
    height: 40px;
    font-family: Inter;
    font-size: 15px;
    letter-spacing: 1px;
    font-style: normal;


}

#link1 {
    color: white;
    text-decoration: none;
}

.mon-fri {
    width: 149px;
    height: 40px;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    color: white;
    text-align: right;
    font-style: normal;


}


.box-frame2 {
    width: 1400px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.box-icon {
    width: 102px;
    height: 24px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8px;
}

.icon-frame2 {
    width: 24px;
    height: 24px;
}


.line7 {
    width: 1400px;
    height: 1px;
    background: #000;
    margin-left: 20px;
}

.box-frame3 {
    width: 1400px;
    height: 22px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-frame3 {
    width: 56px;
    height: 20px;
    letter-spacing: 2px;
    font-family: inter;
    font-weight: 500;
    font-size: 20px;
    color: white;
    font-style: normal;

}

.rsschool {
    width: 300px;
    height: 22px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    white-space: nowrap;
    font-style: normal;

}

.link2 {
    text-decoration: none;
    color: white;
}

.username {
    width: 113px;
    height: 22px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    font-style: normal;
}

/* modal register*/


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.active {
    display: flex;
}

.overlay {
    opacity: 0.8;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;

}


.modal-register {
    position: relative;
    width: 250px;
    height: 382px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;

}


.register-text {
    text-align: center;
    font-size: 20px;
    font-family: forum;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 5px;
    font-style: normal;
}

.button-close {
    width: 20px;
    height: 20px;
    color: #0C0C0E;
    font-weight: bold;
    float: right;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;

}


.form-register {
    width: 200px;
    height: 270px;
    padding: 0px 25px 0px 25px;


}
input {
    outline: none;
    width: 190px;
    height: 20px;
    border: 1px solid #BB945F;
    margin: 5px 0px 5px 0px;

}

input:invalid {
    border: 2px solid red;
}

input:not(:focus):invalid {
    border: 1px solid #BB945F;

}

label {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.button-register {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    margin-top: 10px;
    cursor: pointer;
    background-color: white;
    text-align: center;
}


.button-register p {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 2px;
}

.register-text1 {
    width: 164px;
    height: 12px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.question {
    color: #000;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;

}

.register-login {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    cursor: pointer;
}

/*modal login*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.active {
    display: flex;
}

.overlay {
    opacity: 0.8;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;

}


.modal-login {
    position: relative;
    width: 250px;
    height: 262px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;

}


.login-text {
    text-align: center;
    font-size: 20px;
    font-family: forum;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 5px;
    font-style: normal;
}

.button-close1 {
    width: 20px;
    height: 20px;
    color: #0C0C0E;
    font-weight: bold;
    float: right;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
}


.form-login {
    width: 200px;
    height: 160px;
    padding: 0px 25px 0px 25px;


}
input {
    outline: none;
    width: 190px;
    height: 20px;
    border: 1px solid #BB945F;
    margin: 6px 0px 5px 0px;

}


input:invalid {
    border: 2px solid red;
}

input:not(:focus):invalid {
    border: 1px solid #BB945F;

}

label {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.button-login {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    margin-top: 10px;
    cursor: pointer;
    background-color: white;
    text-align: center;
}


.button-login p {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 2px;
}

.login-text1 {
    width: 164px;
    height: 12px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.question1 {
    color: #000;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;

}

.register-login1 {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    cursor: pointer;
}

/*modal buy a library card*/
.modal1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal1.active {
    display: flex;
}

.overlay1 {
    opacity: 0.8;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;

}

.modal2 {
    width: 640px;
    height: 540px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;



}

.modal-title {
    width: 640px;
    height: 60px;
    background-color: black;
    padding: 5px 0px 5px 0px;
}

.button-close2 {
    width: 15px;
    height: 15px;
    color: white;
    font-weight: bold;
    float: right;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
}

.modal-text {
    text-align: center;
    font-size: 40px;
    font-family: Forum;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: -40px;
    color: white;
    font-style: normal;
}

.modal-form {
    width: 200px;
    height: 450px;
    background-color: white;
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.modal-text1 {
    margin-right: 40px;
    margin-top: 20px;
    color: #8E8E8E;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    
}

.form-card {
    width: 200px;
    height: 170px;
    background-color: white;
    padding-top: 10px;
}

.form-card1 {
    width: 200px;
    height: 170px;
    background-color: white;
    padding-top: 10px;
}

#month {
    width: 45px;
    height: 20px;
    background-color: white;

}

#year {
    width: 45px;
    height: 20px;
    background-color: white;
}

.input4 {
    display: flex;
    justify-content: space-between;
    margin-right: 85px;
}

#cvc {
    width: 45px;
    height: 20px;
}

.buycard {
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
}

.button-buy {
    width: 75px;
    height: 30px;
    background-color: white;
}

.price {
    color: #0C0C0E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap ;
    margin-right: 70px;
}

/*icon auth*/


.icon-auth {
    width: 28px;
    height: 28px;
    margin-right: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    background-color: white;
    text-align: center;
}

.icon-auth.active {
    display: flex;

}

.box-profile1 {
    width: 80px;
    height: 115px;
    text-align: center;
    margin-top: -20px;
    background-color: white;
    display: none;
}

.box-profile1.active {
    display: block;
}


.profile1 {
    font-family: inter;
    font-size: 15px;
    font-weight: 700px;
    font-style: normal;
}

.profile-line1 {
    width: 40px;
    height: 1px;
    background: #bb945f;
    margin-left: 20px;
    margin-top: -10px;
}

.profile-text1 {
    width: 59px;
    height: 50px;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.myprofile {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap;
    margin-left: -4px;

}

.logout {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-top: 15px;
    cursor: pointer;
}

.iniciali {
    color: #BB945F;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 4px;
    letter-spacing: 2px;
}