body {
    min-width: 100%;
    height: 100%;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#artist-background {
    width: 100vw;
    height: 100vh;
    filter: blur(7px);
    z-index: -1;

}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 350pt;
    height: 400pt;
    box-shadow: 0 0 40px white;
}


#thumbnail {
    position: absolute;
    transition: 1s;
    width: 100%;
    height: 60%;
    z-index: 3;
    top: 0px;
}

.box {
    position: absolute;
    background-color: cadetblue;
    width: 100%;
    height: 40%;
    top: 320px;
    z-index: 4;

}

.play-pause {
    position: absolute;
    top: 70px;
    left: 60px;
    cursor: pointer;
   
}
button {
    background-image: url(./assets/svg/play.png);
    background-size: contain;
    width: 60px;
    height: 60px;
    background-color: cadetblue;
    border: cadetblue;
    cursor: pointer;
}

.pause {
    background-image: url(./assets/svg/pause.png);

}

.next-prev {
    width: 150px;
    position: absolute;
    top: 80px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.progress {
    position: absolute;
    bottom: 40px;
    left: 20%;
    width: 300px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 300px;
    height: 7px;
    background: black;
    appearance: none;
    border: 2px solid white;
    cursor: pointer;

}

input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    width: 10px;
    height: 9px;
    background: cadetblue;
}

.artist-song {
    position: absolute;
    left: 130px;
}

.artist {
    color: black;
    font-size: 25px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.song-title {
    color: rgb(43, 40, 40);
    font-size: 20px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.time-song {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 300px;
    bottom: 50px;
    left: 93px;


}

.footer {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: -100px;
    z-index: 4;
    left: 100px;
   
}

.box2 {
    display: flex;
    justify-content: space-between;
    z-index: 4;
    position: absolute;
    top: 190px;
    width: 100%;
    align-items: center;
    margin-left: 10px;
}

.github {
    font-size: 15px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-line: none;
}

.link {
    color: black;
    text-decoration: none;
}

.data {
    font-size: 15px;
    color: black;
}

.rsschool {
    font-size: 20px;
}

